wp-config.php
wp-content/themes/beecorp/gulp/node_modules
wp-content/themes/beecorp/gulp/package-lock.json
wp-content/themes/twentynineteen
wp-content/themes/twentytwenty
wp-content/themes/twentytwentyone