.main-animation
  display: flex
  flex-wrap: wrap


  @media ($break-xs)
    flex-direction: column

  &__col
    //padding-left: 15px
    //padding-right: 15px
    font-weight: 500
    font-size: 16px
    line-height: 24px
    padding-top: $inner * 2
    max-width: 25%
    text-align: center

    @media ($break-xs)
      max-width: 100%
      margin-top: $inner

      &:first-child
        margin-top: 0

    &__description
      padding-right: 15px
      padding-left: 15px
      width: 100%

    &__col-title
      padding-right: 15px
      padding-left: 15px
      font-style: normal
      font-weight: bold
      font-size: 20px
      display: block
      position: relative

      &:before
        content: ''
        border: $orange solid 0px
        background-color: white
        position: absolute
        transition-duration: 2s
        width: 0px
        height: 0px
        left: 0%
        top: -$inner * 2
        border-radius: 50%
        z-index: 100

      &:after
        content: ''
        width: 0
        height: 5px
        background-color: $orange
        position: absolute
        transition-duration: 2s
        left: 0
        top: -38px
        z-index: 1

      &--active

        &:before
          border: $orange solid 3px
          width: 30px
          height: 30px
          left: 45%

        &:after
          width: 100%

    &:first-child
      padding-left: 0

    &:last-child
      padding-right: 0

// loading animation
.load_ring
  display: none
  justify-content: center
  align-items: center

  &__active
    display: flex
    animation: fadeIn 1s

.lds-ring
  display: inline-block
  position: relative
  width: 40px
  height: 40px
  margin-right: 10px

.lds-ring div
  box-sizing: border-box
  display: block
  position: absolute
  width: 34px
  height: 34px
  margin: 4px
  border: 4px solid $orange
  border-radius: 50%
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
  border-color: $orange transparent transparent transparent

.lds-ring div:nth-child(1)
  animation-delay: -0.45s

.lds-ring div:nth-child(2)
  animation-delay: -0.3s

.lds-ring div:nth-child(3)
  animation-delay: -0.15s

@keyframes lds-ring
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)