.main-btn
  background: $orange
  border-radius: 16px
  padding: 10px $inner
  font-style: normal
  font-weight: bold
  font-size: 18px
  color: white
  border: $orange solid 1px

  &:hover
    background: white
    color: $orange

  &__solution
    background-color: white
    color: $blue
    border: $blue solid 1px
    margin-right: 20px

    &:last-child
      margin-right: 0

    &:focus, &:hover
      background-color: $blue
      color: white

    &--orange
      background-color: $orange !important
      color: white
      border: 1px solid $orange

      &:hover
        background-color: white !important
        color: $orange

      &--active
        background-color: white !important
        color: $orange

    &--search
      padding: 0 20px

  &--white
    background-color: white
    color: $orange
    border: $orange solid 1px

    &:hover
      background-color: transparent
      border: white solid 1px
      color: white

    &__solution
      border: $orange solid 1px

      &:hover
        background-color: $orange
        border: $orange solid 1px
        color: white