.main-btn
  background: $orange
  border-radius: 16px
  padding: 10px $inner
  font-style: normal
  font-weight: bold
  font-size: 18px
  color: white
  border: $orange solid 1px

  &:hover
    background: white
    color: $orange

  &__solution
    background-color: white
    color: $blue
    border: $blue solid 1px
    margin-right: 20px

    &:last-child
      margin-right: 0

    &:focus, &:hover
      background-color: $blue
      color: white