//
.main-responsive

  &__btn-box
    position: relative
    z-index: 2000
    display: flex
    align-items: center
    //
    text-transform: uppercase
    font-size: 13px
    font-weight: 600
    display: none

    @media ($break-xs)
      display: block

  &__btn-menu
    width: 30px
    height: 20px
    display: flex
    align-items: center
    margin-left: 10px
    position: relative

    &--bar
      height: 3px
      display: block
      width: 100%
      background-color: $orange
      transition: 2s

    &:before, &:after
      content: ''
      height: 3px
      width: 100%
      left: 0
      position: absolute
      transition: .7s
      //
      background-color: $orange

    &:before
      top: 0px
      transition: top .3s ease-in-out .4s, transform .3s ease-in-out
      //transition: top .3s ease-in-out .4s, transform .3s ease-in-out

    &:after
      bottom: 0px
      transition: bottom .3s ease-in-out .4s, transform .3s ease-in-out
      //transition: bottom .3s ease-in-out .4s, transform .3s ease-in-out

    &--open

      .main-responsive__btn-menu--bar
        background-color: transparent

      &:before
        top: 9px
        transform: rotate(45deg)
        transition: top .3s ease-in-out, transform .3s ease-in-out .4s

      &:after
        bottom: 9px
        transform: rotate(-45deg)
        transition: bottom .3s ease-in-out, transform .3s ease-in-out .4s

  // main responsive body
  &__body
    background-color: white
    //
    position: fixed
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    //
    width: 100%
    height: 100%
    z-index: 1100
    top: 0
    left: -100%
    padding: 20px
    transition: 1s ease-in-out

    @media ($break-xs)
      width: 100%

    &--open
      left: 0

    &__nav
      padding-top: 50px
      width: 100%
      height: 100%
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      background-color: white
      padding-bottom: 20px
      margin-bottom: 20px
      //border-bottom: 1px solid #EDE8E5

      &--item
        padding: 0
        margin: 0
        list-style: none
        width: 100%

        li > a
          font-family: Roboto
          font-style: normal
          font-weight: 600
          font-size: 20px
          line-height: 120%
          color: $orange
          margin-bottom: 10px
          display: block
          position: relative
          width: 100%

          //&:after
          //  content: '\E004'
          //  font-family: 'icons'
          //  position: absolute
          //  right: 0
          //
          //&:hover
          //  color: $orange
          //  text-decoration: none


    &__nav-principal

      &__item
        padding: 0
        margin: 0
        list-style: none

      &--link
        color: $orange
        font-weight: 600
        display: block
        padding-bottom: 10px

  &__close-menu
    width: 100%
    font-family: Dosis
    font-style: normal
    font-weight: 600
    font-size: 20px
    line-height: 25px
    display: flex
    align-items: center
    text-align: right
    display: flex
    justify-content: flex-end
    color: $orange
    cursor: pointer

    .icon
      font-size: 20px
      margin-left: 20px

