@font-face {
	font-family: "icons";
	src: url('../fonts/icons.eot');
	src: url('../fonts/icons.eot?#iefix') format('eot'),
		url('../fonts/icons.woff2') format('woff2'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-arrow-double:before {
	content: "\E001";
}

.icon-calendar-alt-solid:before {
	content: "\E002";
}

.icon-check-circle-solid:before {
	content: "\E003";
}

.icon-comments-solid:before {
	content: "\E004";
}

.icon-facebook-square-brands:before {
	content: "\E005";
}

.icon-hands:before {
	content: "\E006";
}

.icon-handshake-solid:before {
	content: "\E007";
}

.icon-headphones-user:before {
	content: "\E008";
}

.icon-headset-solid:before {
	content: "\E009";
}

.icon-helth:before {
	content: "\E00A";
}

.icon-instagram-square-brands:before {
	content: "\E00B";
}

.icon-left-solid:before {
	content: "\E00C";
}

.icon-life:before {
	content: "\E00D";
}

.icon-linkedin-brands:before {
	content: "\E00E";
}

.icon-phone-volume-solid:before {
	content: "\E00F";
}

.icon-quote-left:before {
	content: "\E010";
}

.icon-right-solid:before {
	content: "\E011";
}

.icon-search:before {
	content: "\E012";
}

.icon-twitter-square-brands:before {
	content: "\E013";
}
